body {
    background-color: darkslategray;
}

#keyframes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.parent {
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
}

@keyframes myanimation {
    0% {background-color: white;}
    25% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: purple;}
    100% {background-color: blue;}
}

.child {
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {background-color: white; left: 0px; top: 0px;}
    25% {background-color: red; left: 300px; top: 0px;}
    50% {background-color: green; left: 300px; top: 300px;}
    75% {background-color: purple; left: 0px; top: 300px;}
    100% {background-color: blue; left: 0px; top:0px;}
}

.cousin {
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: anime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0% {background-color: white; border-radius: 0% 0% 0% 0%;}
    25% {background-color: red; border-radius: 50% 0% 0% 0%;}
    50% {background-color: green; border-radius: 50% 50% 0% 0%;}
    75% {background-color: purple; border-radius: 50% 50% 50% 0%}
    100% {background-color: blue; border-radius: 50% 50% 50% 50%}
}

.heading {
    color: white;
    transition-property: background;
    transition-duration: 5s;
}

.heading:hover {
    color: red;
}

.news{
    color: pink;
    transition: background;
    border: 1px white solid;
}

.news:hover {
    color: white;
    transform: rotateY(180deg);
}

#header h1 {
    text-align: center;
    font-size: 50px;
    line-height: 1.2;
    position: relative;
    animation: fun;
    animation-duration: 5s;
    color: chartreuse;
}

@keyframes fun {
    0% {top: -1000px}
    100% {top: 0px}
}

#wow {
    position: relative;
    animation: nice;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes nice {
    0% {right:-1000px;}
    100% {right: 0px;}
}