body {
    background-color: darkslategray;
}

.parent {
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 4s;
}

@keyframes myanimation {
    0% {background-color: white;}
    25% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: purple;}
    100% {background-color: blue;}
}

.child {
    background-color: white;
    height: 300px;
    width: 300px;
    position: relative;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {background-color: white; left: 0px; top: 0px;}
    25% {background-color: red; left: 300px; top: 0px;}
    50% {background-color: green; left: 300px; top: 300px;}
    75% {background-color: purple; left: 0px; top: 300px;}
    100% {background-color: blue; left: 0px; top:0px;}
}